body {
	background: #ebebeb;
	margin-top: 25
}

header { 
	font-family: Arial, Helvetica, sans-serif;
	background: #cccccc;
	color: black;
	padding: 15px 15px 0 15px
}


li {
	margin: 30 0 -35px 45;  /*first is updown second is nothing third is things under and fourth left and right*/
	font-size: 35px;
	list-style: none;
}


.col {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: auto;
	width: 60%;  /*change width of the collumn*/
	padding: 10px;
	font-size: 25px;
	float: center;
	background: #cccccc;
	border-radius: 5px;
	color: black;
}

.button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

.vid {
	float: center;
	background: #d3d3d3;
	border-radius: 5px;
	padding: 40px .5%;
	margin: .5%;
	width: 35%;
}

.cus {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	float: center;
	background: #cccccc;
	border-radius: 5px;
	color: black;
	padding: 10px .5%;
	margin: .5%;
	width: 40%;
}

.aas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	float: center;
	background: #cccccc;
	border-radius: 5px;
	color: black;
	padding: 10px .5%;
	margin: .5%;
	width: 55%;
}

.asu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	float: center;
	background: #cccccc;
	border-radius: 5px;
	color: black;
	padding: 10px .5%;
	margin: .5%;
	width: 45%;
}

.sta {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 45px;
	font-weight: bold;
	float: center;
	background: #cccccc;
	border-radius: 5px;
	color: black;
	padding: 10px .5%;
	margin: 0.5%;
	width: 35%;
}

.mah {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;
	float: center;
	background: #cccccc;
	border-radius: 5px;
	color: black;
	padding: 10px .5%;
	margin: .5%;
	width: 31%;
}


footer {
	font-family: Arial, Helvetica, sans-serif;
	position:absolute; /*keep at absolute*/
	bottom:0;  /* always keep this at 0*/
	width:100%;  /* change left or right of the footer */
	height:30px;   /* chnage height of the footer */
	background: clear;  /* change background color*/
}
